* {
  scroll-behavior: smooth;
}

form #search:focus {
  box-shadow: 0 0 0.5rem 0.2rem rgba(212, 58, 132, 0.256) !important;
  outline: 0;
  border-color: rgb(212, 58, 132);
}
#menubar {
  border: none;
}
#menubar:focus {
  border: none;
  box-shadow: none;
}
.carousel-caption h1 {
  text-shadow: 2px 3px 5px rgba(70, 70, 70, 0.779);
}
#navul li a {
  transform: scale(1);
  transition: all 0.3s ease;
}

#navul li a:hover {
  color: rgb(191, 47, 117) !important;
  transform: scale(1.2);
  transition: all 0.3s ease;
}

.dropdown-menu li a {
  transform: translateX(0px) !important;
  transition: all 0.3s ease !important;
}

.dropdown-menu li a:hover {
  background-color: transparent !important;
  transform: translateX(10px) !important;
  transition: all 0.3s ease !important;
}

.footer #footul li a {
  transform: scale(1) !important;
  transition: all 0.3s ease !important;
}

.footer #footul li a:hover {
  transform: scale(1.05) !important;
  transition: all 0.3s ease !important;
}

#hexak {
  animation: hk 10s linear infinite;
}

@keyframes hk {
  100% {
    transform: rotateY(360deg);
  }
}

#snbtn {
  animation: btn 1s infinite;
  box-shadow: 0px 0px 1px 1px rgba(255, 0, 0, 0.572);
}
@keyframes btn {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 0, 0, 0.564);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(255, 0, 0, 0);
  }
}

#ssnbtn {
  animation: sbtn 2s infinite;
  box-shadow: 0px 0px 1px 1px rgba(255, 255, 255, 0.572);
}
@keyframes sbtn {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 255, 255, 0.564);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(255, 255, 255, 0);
  }
}

#vcbtn {
  animation: vcbtn 2s infinite;
  box-shadow: 0px 0px 1px 1px rgb(46, 68, 111);
}
@keyframes vcbtn {
  0% {
    box-shadow: 0 0 0 0px rgba(46, 68, 111, 0.868);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(255, 0, 0, 0);
  }
}
#snbtn2 {
  animation: sn2btn 1s infinite;
  box-shadow: 0px 0px 1px 1px rgb(255, 186, 124);
}
@keyframes sn2btn {
  0% {
    box-shadow: 0 0 0 0px rgba(255, 185, 124, 0.7);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(255, 185, 124, 0);
  }
}

#ro {
  font-family: russo one;
  background: -webkit-linear-gradient(right, #f9bc96, #a91c1a);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

#brandimg {
  animation: round 1s linear infinite alternate;
}

@keyframes round {
  100% {
    transform: scale(1.1);
  }
}

#acbtn:hover {
  animation: acbtn 1.5s infinite;
  transition: all 0.1s ease;
  box-shadow: 0px 0px 1px 1px rgb(88, 21, 28);
}
@keyframes acbtn {
  0% {
    box-shadow: 0 0 0 0px rgba(88, 21, 28, 0.554);
  }
  100% {
    box-shadow: 0 0 0px 15px rgba(88, 21, 28, 0);
  }
}

#pinkimg {
  transform: scale(1);
  transition: all 0.5s ease;
}

#pinkimg:hover {
  transform: scale(1.05);
  transition: all 0.5s ease;
}

#pinkimgbg {
  transition: all 0.3s ease;
}

#pinkimgbg:hover {
  transition: all 0.3s ease;
  box-shadow: rgba(251, 30, 96, 0.809) 2px 2px 20px 2px;
}

.star-icon {
  color: rgb(247, 185, 0);
}

.star-icon input {
  display: none;
}

.star-icon input + label {
  cursor: pointer;
  font-size: 15px;
}

.star-icon input:checked + label ~ label {
  color: gray;
}

.card {
  border: none !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px !important;
  transform: scale(1);
  transition: all 0.3s ease;
}

.card:hover {
  transform: scale(0.9);
  transition: all 0.3s ease;
}

.card-title {
  text-align: center !important;
}

@media only screen and (max-width: 1336px) {
  #mens {
    flex-wrap: wrap !important;
  }
  #womens {
    flex-wrap: wrap !important;
  }
}

.topbtn a button {
  background-color: rgb(14, 122, 0);
  color: rgb(255, 255, 255);
  border: none;
}
.topbtn a button i {
  color: white;
}
.topbtn {
  position: fixed;
  /* margin-top: -244%;
  margin-left: 88%; */
}
